{{define "product.create"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple cours</title>
</head>

<body>
    <form action="/product" method="post">
        <input type="text" name="name" placeholder="Nom du produit">
        <input type="text" name="description" placeholder="Description du produit">
        <input type="number" name="price" placeholder="Prix du produit">
        <input type="number" name="categorie" placeholder="Id categorie">
        <button type="submit">Valider</button>
    </form>
</body>

</html>
{{end}}